.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a49c5;
    height: 60px;
    color: white;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
  }
  
  .header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  